.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
